<!DOCTYPE html>
<html>
<head>
  <title>Cardoc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div><%= render 'index/header' %></div>
		<div><%= yield %></div>	
		<div><%= render 'index/footer' %></div>
	</div>
</body>
</html>